.container {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container > h1 {
    font-size: var(--heading-1-text-size);
    font-weight: 500;
}

.avatar_rest {
    width: 100%;
    background-color: var(--surface-3);
    display: flex;
    padding: 16px;
    gap: 16px;
    border-radius: 12px;
    align-items: center;
}

.avatar {
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.rest {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rating {
    display: flex;
    gap: 8px;
}

.rating > span {
    font-weight: 500;
}

.rating > p {
    color: var(--text-secondary);
}

.rest > h2 {
    font-size: 24px;
}

.like_dislike {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.title_rates > h2 {
    font-size: var(--heading-2-text-size);
    font-weight: 500;
}

.rates {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    flex-direction: column;
    height: 200px;
}

.text_review {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.comment {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.comment > p {
    font-size: var(--secondary-1-text-size);
    color: var(--text-secondary);
}

.photos_container {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.photo_icon path {
    fill: var(--orange-800);
}

.image_array_element {
    position: relative;
}

.image_array_element > svg {
    cursor: pointer;
    position: absolute;
    right: -8px;
    top: -8px;
    background-color: var(--base-50);
    padding: 8px;
    border-radius: 50%;
}

.image_array_element > svg path {
    fill: var(--base-500);
}
