.container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.container > h1 {
    font-weight: 500;
    width: 100%;
    font-size: 32px;
    text-align: left;
}

.rest {
    margin-top: 16px;
}

.img {
    width: 70%;
    margin: 0 auto;
}

.button_container {
    margin: 16px auto;
}