.card{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--surface-3);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
    padding: 0;
}

.photo {
    background-color: #CF3E00;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0;
    height: 200px;
}

.photo > a {
    display: block;
    width: 100%;
    height: 100%;
}

.photo > a > img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.info {
    padding: 16px 16px 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.type_heart {
    display: flex;
    justify-content: space-between;
}

.favorite {
    height: 28px;
    width: 28px;
}

.title_rating {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    color: inherit;
    text-decoration: none;
    font-size: var(--heading-1-text-size);
    margin: 0;
}

.rating_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    gap: 8px;
}

.evals {
    color: var(--text-secondary)
}

.price {
    margin: 0;
}

.cuisines_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cuisines {
    display: flex;
    gap: 8px;
}