.title {
    font-weight: 500;
    font-size: 32px;
    margin-top: 24px;
}

.filters_content {
    margin-top: 32px;
}

.filters > h2 {
    font-size: 24px;
}

.sort {
    display: flex;
    gap: 12px;
    align-items: center;
}

.rests {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filter_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_options {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 10px;
}

.filter_title > p {
    font-size: 18px;
}