.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 352px;
}

.container > h1 {
    font-size: var(--heading-1-text-size);
    font-weight: 500;
    margin-bottom: 12px;
}
