.rating_criteria {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.avatar_review {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #CF3E00;
    border-radius: 100px;
    flex-basis: 40px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-contrast);
}

.review {
    flex: 1;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.user_report {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: var(--heading-2-text-size);
}

.date {
    font-size: var(--secondary-1-text-size);
    color: var(--text-secondary);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtitle {
    font-weight: 600;
}

.review_eval {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.like_dislike {
    display: flex;
    gap: 6px;
    align-items: center;
    color: var(--text-primary);
}

.photo {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 12px;
}