.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 24px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.logo_qr {
    display: flex;
    gap: 12px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title > h1 {
    font-size: 52px;
    color: var(--text-active);
}

.title > p {
    font-size: 32px;
    color: var(--text-placeholder);
}

.features {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 650px;
}

.feature {
    display: flex;
    gap: 20px;
    align-items: center;
}

.feature > p {
    font-size: 28px;
}

.mobile {
    position: absolute;
    right: 0;
    top: 0;
    height: 750px;
}



