.chips {
    padding: 4px 8px;
    display: inline-block;
    font-size: var(--secondary-1-text-size);
    border-radius: var(--border-radius-full);
}

.dark {
    background-color: var(--chips-1-background);
    color: var(--chips-1-label)
}

.light {
    background: var(--chips-2-background);
    color: var(--chips-2-label)
}
