.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox__icon {
    cursor: pointer;
    align-self: flex-start;
}

.checkbox__icon > path {

}

.checkbox__icon:hover > path, .checked > .checkbox__icon > path {

}

.disabled {

}

.disabled > .checkbox__icon {
    cursor: default;
}

.disabled > .checkbox__icon > path {

}

.required {

}
