.card_collection {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 16px;
}

.card_collection:hover > p {
    /*background-color: var(--surface-3);*/
    color: var(--text-active);
}

.card_collection:hover > div > img {
    opacity: .7;
}

.image_collection {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    background-color: var(--surface-3);
    margin-bottom: 8px;
}

.image_collection > img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.name_collection {
    font-size: var(--heading-2-text-size);
    color: var(--text-primary);
    margin-bottom: 4px;
}

.amount_collection {
    font-size: var(--body-regular-text-size);
    color: var(--text-secondary);
    margin-bottom: 0;
}
