.title_button {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.title_button > h1 {
    font-size: 32px;
    font-weight: 500;
}

.category {
    font-size: var(--heading-1-text-size);
    padding-bottom: 4px;
    border-bottom: 2px solid var(--divider);
}

.category_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}

.container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container > h1 {
    font-size: var(--heading-1-text-size);
    margin-bottom: 10px;
}

.inputs {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group {
    display: flex;
    gap: 8px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    gap: 16px;    
}

.preview {
    flex: 4;
}

.meal > div {
    cursor: pointer;
}

.photo_button path {
    fill: var(--orange-800);
}
