.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 8px;
    border-radius: var(--border-radius-8);
    background-color: var(--surface-3);
}

.criterion {
    margin: 0;
    font-size: var(--secondary-1-text-size);
}