.item {
    background-color: var(--surface-4);
    border-radius: 24px;
    position: relative;
    height: 280px;
}

.image {
    position: absolute;
    bottom: 0;
    right: 0;
}

.item > h5 {
    font-size: var(--heading-1-text-size);
    padding-left: 20px;
    padding-top: 32px;
    font-weight: 500;
}

.item > p {
    font-size: var(--body-regular-text-size);
    padding-left: 20px;
    width: 360px;
    margin-top: 32px;
    line-height: 120%;
}

.number_places {
    padding: 4px 16px;
    color: var(--text-contrast);
    background-color: var(--orange-800);
    display: inline-block;
    position: absolute;
    bottom: 20px;
    border-radius: var(--border-radius-full);
    left: 20px;
}
