.heading {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-primary);
}

.features_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
}

.features_photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

.features_title {
    font-size: var(--heading-1-text-size);
    font-weight: 600;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.feature {
    display: flex;
    align-items: center;
}

.sqare {
    width: 22px;
    height: 22px;
    margin: 18px;
    background-color: var(--icons-active);
    display: inline-block;
    transition: border-radius ease .2s;
}

.feature:hover .sqare {
    border-radius: 11px;
}

.contacts_title {
    font-size: var(--heading-1-text-size);
    font-weight: 600;
    margin-bottom: 16px;
}

.contacts_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: var(--heading-3-text-size);
}

.contacts_list_item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.schedule {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.schedule_icon {
    align-self: flex-start;
}

.schedule_item {
    width: 100%;
    display: flex;
    gap: 2px;
}

.schedule_dots {
    flex: 1;
    height: .9rem;
    border-bottom: 2px dotted black;
}

.contacts_icon {
    width: 20px;
    height: 20px;
}

.ymap > ymaps > ymaps, .ymap > ymaps > ymaps > ymaps {
    border-radius: 4px;
}

.rating_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.rating {
    display: flex;
    gap: 8px;
    align-items: center;

}

.rating > p {
    font-size: 36px;
    font-weight: 600;
}

.stars_reviews {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btns_reviews {
    display: flex;
    gap: 12px;
}

.subtitle_reviews {
    font-size: var(--heading-1-text-size);
    font-weight: 500;
    margin-top: 16px;
}

.rates {
    display: flex;
    gap: 16px;
}