.rates {
    margin-top: 40px;
    display: flex;
}

.rating_overall {
    display: flex;
    gap: 4px;
    padding: 4px;
    align-items: center;
    background-color: var(--surface-3);
    border-radius: 8px;
}

.rating_overall > span {
    font-size: 28px;
    font-weight: 500;
}

.rating_overall > div > p {
    color: var(--text-secondary);
    font-size: var(--secondary-1-text-size);
}

.best_meals > div > h2 {
    font-size: var(--heading-1-text-size);
    font-weight: 500;
}

.best_meals > div {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.best_meals > div > p {
    color: var(--text-secondary);
}

.title_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_btn > h2 {
    font-size: var(--heading-1-text-size);
    font-weight: 500;
}
