.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-bottom: 24px;
}

.tab {
    flex: 1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--text-secondary);
    text-align: center;
    color: var(--text-secondary);
}

.tab > a {
    color: inherit;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    font-size: var(--heading-3-text-size);
    display: inline-block;
    width: 100%;
}

.tab:has(:global(> a.active)) {
    color: var(--text-active);
    border-bottom-color: var(--text-active);
}
