.title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 32px;
}

.subtitle {
    font-size: var(--heading-1-text-size);
    padding-bottom: 4px;
    border-bottom: 2px solid var(--divider);
}

.label_input {
    display: flex;
    align-items: center;
}

.text_secondary {
    color: var(--text-secondary);
    font-size: var(--secondary-1-text-size);
}

.icn_input {
    display: flex;
    align-items: center;
    gap: 8px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.socials {
    display: flex;

}

.suggested_addresses {
    position: absolute;
    max-height: 256px;
    overflow-y: scroll;
    z-index: 10;
    border-radius: var(--border-radius-8);
    margin-top: 4px;
}

.suggested_address {
    color: var(--text-active);
    padding: 10px 16px;
    cursor: pointer;
    background-color: var(--surface-3);
    border-bottom: 1px solid var(--orange-50);
}

.suggested_address:last-child {
    border-radius: 0 0 8px 8px;
    border-bottom: none
}

.suggested_address:hover {
    background-color: var(--orange-50);
}


/* width */
::-webkit-scrollbar {
    width: 8px;
    position: absolute;
    z-index: 5;
    right: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--surface-3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--text-placeholder);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--orange-800);
}

.description > textarea {
    height: 128px;
}

.photos_container {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.photo_icon path {
    fill: var(--orange-800);
}

.image_array_element {
    position: relative;
}

.image_array_element > svg {
    cursor: pointer;
    position: absolute;
    right: -8px;
    top: -8px;
    background-color: var(--base-50);
    padding: 8px;
    border-radius: 50%;
}

.image_array_element > svg path {
    fill: var(--base-500);
}
