.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--surface-3);
    border-radius: 8px;
}

.photo {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #292725;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.photo > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.info {
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heart_container {
    padding: 8px;
    background-color: var(--surface-2);
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 8px;
}

.title {
    color: inherit;
    text-decoration: none;
    margin: 0;
    font-size: var(--heading-1-text-size);
}

.rating {
    display: flex;
    gap: 8px;
    align-items: center;
}

.rating > span {
    font-size: var(--secondary-1-text-size);
}

.evals {
    color: var(--text-secondary);
}

.price {
    margin: 0;
    font-size: var(--secondary-1-text-size);
}
