.container {
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: var(--heading-1-text-size);
    font-weight: 500;
}

.phone_input {
    width: 100%;
}

.phone_comment {
    font-size: var(--secondary-1-text-size);
    margin-top: -16px;
}

.code_input>div>input {
    width: 40px;
}

.names_input {
    width: 100%;
}

.tlg_open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.tlg_chevron {
    width: 24px;
    height: 24px;
}

.tlg_chevron path {
    stroke: var(--icons-active)
}

.tlg_title {
    font-size: var(--secondary-1-text-size);
    font-weight: 600;
    color: var(--text-active);
}

.qr_container {
    max-height: 128px;
    transition: max-height ease .2s, opacity ease .2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12;
    font-size: var(--secondary-1-text-size);
    font-weight: 500;
}

.hidden {
    max-height: 0;
    opacity: 0;
}

.otp_back {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
