.item {
    width: 100%;
    border-radius: 24px;
    background-size: cover;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-contrast);
    padding-top: 100px;
    padding-left: 16px;
}

.number_places {
    padding: 4px 16px;
    font-weight: 500;
    font-size: 14px;
    background-color: #F3F3F3;
    color: var(--text-primary);
    display: inline-block;
    border-radius: var(--border-radius-full);
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 12px;
}