.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.input {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--divider);
    padding: 12px;
    margin-right: 20px;
    text-align: center;
    font-size: var(--heading-1-text-size);
    width: 48px;
}

.input:last-child {
    margin-right: 0px;
}

.input:focus {
    border-color: var(--text-active);
    color: var(--text-active);
}

.retry {
    display: block;
    height: 46px;
    line-height: 46px;
    color: var(--text-secondary);
    font-size: var(--secondary-1-text-size);
    font-weight: 500;
}
