.container {
    background-color: var(--surface-3);
    border-radius: var(--border-radius-8);
    width: 100%;
    cursor: pointer;
}

.input, .phone_input input {
    border: none;
    outline: none;
    font-size: var(--body-regular-text-size);
    color: var(--text-active);
    background-color: transparent;
    width: 100%;
    padding: 12px 16px;
}

.input[type=time] {
    border-radius: var(--border-radius-8);
    filter: brightness(0) saturate(100%) invert(27%) sepia(84%) saturate(5703%) hue-rotate(24deg) brightness(100%) contrast(102%);
    cursor: text;
}

.input[type=time]:disabled {
    filter: none;
    background-color: var(--base-300);
    color: var(--base-300);
}

.input[type=date] {
    border-radius: var(--border-radius-8);
    filter: brightness(0) saturate(100%) invert(27%) sepia(84%) saturate(5703%) hue-rotate(24deg) brightness(100%) contrast(102%);
    cursor: text;
}

.input[type=date]:disabled {
    filter: none;
    background-color: var(--base-300);
    color: var(--base-300);
}

.input::placeholder, .phone_input input::placeholder {
    color: var(--text-placeholder);
    opacity: 1;
}

.container:focus-within {
    box-shadow: inset 0 0 0 1px rgba(207, 62, 0, 1);
}

.text {
    padding: 12px 12px;
    width: 100%;
}

.textarea {
    height: 100%;
}
