.carousel {
    width: 100%;
    background-color: #CF3E00;
}

.title_description {
    margin: 80px auto 24px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heading1 {
    font-size: 48px;
    font-weight: 600;
}

.description {
    font-size: var(--heading-1-text-size);
}

.popular_requests {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 12px;
}

.popular_requests > p {
    padding: 0;
    margin: 0;
}

.requests {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.feature {
    background-color: var(--surface-4);
    border-radius: 24px;
    padding: 32px 0 0 32px;
    position: relative;
    height: 310px;
}

.feature > h3 {
    font-size: 24px;
    font-weight: 600;
}

.feature > p {
    font-size: 18px;
    font-weight: 500;
    width: 320px;
    margin-top: 16px;
    line-height: 120%;
}

.guidePhoto {
    position: absolute;
    bottom: 0;
    right: 0;
}

.criticPhoto {
    position: absolute;
    bottom: 0;
    right: 0;
}

.feature > button {
    position: absolute;
    bottom: 40px;
}

.best {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.best_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best_all > h2 {
    font-size: 28px;
    font-weight: 600;
}

.popular {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.popular > h2 {
    font-size: 28px;
    font-weight: 600;
}

.cuisines {
    display: flex;
}

.mobile {
    background-color: #6A6866;
    cursor: pointer;
}

.icon_title > p {
    font-weight: 600;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.icon_title {
    display: flex;
    align-items: center;
    gap: 24px;
}

.mobile {
    border-radius: 24px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--surface-3);
}

.rustore {
    margin: auto 0;
}

.reasons {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.reasons > h2 {
    font-size: 28px;
    font-weight: 600;
}

.row_reasons {
    row-gap: 24px;
}

.for_owners {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: var(--surface-3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
}

.for_owners_info {
    padding-left: 20px;
}

.for_owners_info > h2 {
    font-size: 28px;
    font-weight: 600;
}

.for_owners_info > p {
    padding: 0;
    margin-top: 16px;
    margin-bottom: 48px;
    width: 400px;
}