.container {
    margin-top: 24px;
}

.container > img {
    aspect-ratio: 9 / 16;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: opacity ease .2s;
    background-color: black;
}

.container > img:hover {
    opacity: 0.9;
}
