.modal {
    border-radius: var(--border-radius-12);
    border: none;
    position: relative;
    padding: 24px;
}

.cross {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}
