.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    cursor: default;
    min-height: 220px;
}

.container:hover .bg {
    box-shadow: 0 0 24px rgba(0, 0, 0, .4);
}

.preview {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: all ease .5s;
}

.container:hover > div > .preview {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: -4px;
    margin-right: -4px;
    width: calc(100% + 8px);
}

.chips {
    position: absolute;
    bottom: 8px;
    left: 0;
    opacity: 0;
    max-height: 0;
    transition: all ease .5s;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 164px;
    max-width: 100%;
    width: 100%;
}

.bg {
    background-color: var(--base-0);
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    border-radius:0 0 4px 4px;
    transition: all ease .5s;
}

.container:hover .bg {
    opacity: 1;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -8px;
    z-index: 0;
}

.title {
    font-size: var(--heading-2-text-size);
    font-weight: 600;
    color: var(--test-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.cpfc {
    display: flex;
    justify-content: space-between;
}

.composition, .cpfc {
    position: relative;
    font-size: var(--secondary-1-text-size);
    color: var(--text-secondary);
    opacity: 0;
    max-height: 0;
    transition: all ease .5s;
}

.container:hover > .text > .composition, .container:hover > .text > .cpfc, .container:hover > div > .chips {
    opacity: 1;
    max-height: 200px;
}

.info {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    font-size: var(--heading-3-text-size);
    font-weight: 500;
    color: var(--test-primary);
}
