.container {
    width: 100%;
    position: relative;
}

.selected {
    background-color: var(--surface-3);
    border-radius: var(--border-radius-8);
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--body-regular-text-size);
    color: var(--text-active);
    cursor: pointer;
}

.placeholder {
    color: var(--text-placeholder);
}

.datalist {
    position: absolute;
    width: 100%;
    max-height: 256px;
    overflow-y: scroll;
    z-index: 10;
}

.datalist_item {
    color: var(--text-active);
    padding: 10px 16px;
    cursor: pointer;
    background-color: var(--surface-3);
    border-top: 1px solid var(--orange-50);
}

.datalist_item:last-child {
    border-radius: 0 0 8px 8px;
}

.datalist_item:hover {
    background-color: var(--orange-50);
}

.selected>svg>path {
    stroke: var(--icons-active);
}
