.container {
    width: 400px;
    background-color: var(--white);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 80vw;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: scroll;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.open {
    transform: translateX(0);
}

.header {
    display: flex;
    gap: 16px;
    padding: 16px 16px 0px 16px;
    width: 100%;
    align-items: center;
}

.icon_back {
    cursor: pointer;
}

.header > h2 {
    font-size: var(--heading-2-text-size);
    font-weight: 500;
}

.content {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.promo_img {
    aspect-ratio: 9 / 16;
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
}

.event_img {
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
}

.title {
    font-size: var(--heading-2-text-size);
    font-weight: 500;
}

.description {
    line-height: 1.2;
}

.contacts > span {
    font-weight: 500;
}


