.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: var(--border-radius-8);
    border: none;
    outline: none;
    position: relative;
    transition: background-color 0.3s;
}

.L {
    padding: 12px 16px;
    font-size: var(--button-1-text-size);
}

.M {
    padding: 10px 16px;
    font-size: var(--button-2-text-size);
}

.S {
    padding: 8px 16px;
    font-size: var(--button-3-text-size);
}


.primary {
    background-color: var(--button-primary-enabled-background);
    color: var(--button-primary-enabled-label);

}

.primary > .loader::before {
    border: 3px solid var(--button-primary-enabled-label);
}

.primary:hover {
    background-color: #E14502;
}

.secondary {
    background-color: var(--button-secondary-enabled-background);
    color: var(--button-secondary-enabled-label);
}

.secondary > .loader::before {
    border: 3px solid var(--button-secondary-enabled-label);
}

.secondary:hover {
    background-color: #FFE7C7;
}

.text {
    background-color: transparent;
    color: var(--button-text-enabled-color);
    padding: 16px 0;
}

.text > .loader::before {
    border: 3px solid var(--button-text-enabled-color);
}

.loading {
    color: transparent;
}

.disabled, .disabled:hover {
    background-color: var(--button-primary-disabled-background);
}

.text.disabled, .text.disabled:hover {
    background-color: transparent;
    color: var(--button-text-disabled-color);
}

.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    animation: rotate 1s linear infinite;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}

.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}
