.first_level {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
    color: var(--text-contrast);
    vertical-align: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
    cursor: pointer;
}

.location > svg {
    width: 18px;
}

.location > svg path {
    fill: var(--text-active);
}

.location > p {
    color: var(--text-active);
}

.right_links {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    height: 100%;
}

.right_links > li {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}

.right_links > li > a {
    text-decoration: none;
    color: var(--text-contrast);
}

.second_level {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
    justify-content: space-between;
}

.user {
    display: flex;
    gap: 4px;
    align-items: center;
}

.user > a {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 8px;
    align-items: center;
}

.user_photo {
    background-color: var(--surface-1);
    color: var(--text-active);
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 16px;
    font-size: var(--secondary-1-text-size);
    object-fit: cover;
}

.profile_dd {
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 12px;
    list-style: none;
    color: var(--text-active);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.profile_dd > li {
    background-color: var(--surface-1);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 4px;
}

.profile_dd > li:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.profile_dd > li:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.profile_dd > li > a {
    display: block;
}

.profile_dd > li:hover {
    background-color: var(--surface-4);
}

.logout_icon path {
    fill: var(--icons-active);
}
