.container {
    position: relative;
    padding: 12px 0 12px 0;
}

.content {
    position: relative;
    z-index: 10;
}

.background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(((100vw - 100%) / 2) * -1);
    width: 100vw;
    height: 139px;
    background-color: var(--surface-3);
}

.logo {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.title {
    font-size: 32px;
    font-weight: 500;
    color: var(--text-primary);
    margin-bottom: 8px;
}

.logo_title_container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.rating_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.rating {
    font-size: var(--secondary-1-text-size);
    font-weight: 500;
}

.reviews {
    font-size: var(--secondary-1-text-size);
    color: var(--text-secondary);
}

.buttons {

    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    margin-bottom: 18px;
}

.schedule_tel_container {
    display: flex;
    justify-content: space-between;
    font-size: var(--secondary-1-text-size);
}

.chips {
    display: flex;
    gap: 8px;
}

.social_media {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}
