.alert {
    width: 640px;
    display: flex;
    position: fixed;
    top: 100px;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--white);
    box-shadow: 0px 4px 15px 0px rgba(91, 85, 78, 0.25);
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.alert > p {
    font-size: var(--body-regular-text-size);
    line-height: 1.2;
}

.icon {
    min-width: 40px;
    height: 40px;
}

.icon path {
    fill: var(--text-primary);
}
