.event {
    display: flex;
    gap: 24px;
    width: 100%;
    margin-top: 24px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color ease .2s;
}

.event:hover {
    background-color: var(--surface-3);
}

.img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 12px;
    background-color: black;
    transition: opacity ease .2s, border-radius ease .2s;
}

.event:hover .img {
    border-radius: 12px 0 0  12px;
    opacity: 0.9;
}

.event_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.title {
    font-size: 24px;
    font-weight: 500;
    width: 100%;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.contact > span {
    font-weight: 500;
}

