.back {
    display: flex;
    gap: 4px;
    cursor: pointer;
    align-items: center;
}

.back > p {
    margin: 0;
}

.title_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_edit > path {
    fill: var(--base-400);
    transition: fill 0.2s;
}

.title:hover .icon_edit > path {
    fill: var(--text-primary);
}

.title:hover {
    background-color: var(--surface-3);
}

.actions {
    display: flex;
    gap: 12px;
}

.title_amount{
    display: flex;
    gap: 8px;
    align-items: baseline;
    margin-top: 16px;
    margin-bottom: 16px;
}

.title {
    display: flex;
    align-items: baseline;
    gap: 8px;
    cursor: pointer;
    padding: 8px;
    border-radius: 12px;
}

.title > p {
    font-size: 32px;
    margin: 0;
}

.amount {
    font-size: var(--body-regular-text-size);
    color: var(--text-secondary);
    margin: 0;
}

.icon_delete {
    cursor: pointer;
}

.icon_delete path {
    fill: var(--text-active);
}

.icon_share {
    cursor: pointer;
}

.icon_share path {
    fill: var(--text-active);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.similar_places {
    display: flex;
    flex-direction: row;
}

.similar_title {
    padding: 0;
    font-size: var(--heading-2-text-size);
    margin-bottom: 12px;
    margin-top: 64px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

