.content {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    align-items: center;
    gap: 32px;
}

.content > h1 {
    font-size: 48px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    gap: 8px;
}

.feature {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 12px;
    background-color: var(--surface-4);
    border-radius: 16px;
}

.feature > h3 {
    font-size: 28px;
    font-weight: 500;
}

.feature > p {
    font-size: 20px;
}

.illustration {
    width: 226px;
}

.icon {
    width: 48px;
}
