.container {
    position: relative;
}

.collections {
    position: absolute;
    top: calc(100% + 16px);
    right: 0;
    background-color: var(--surface-1);
    padding: 16px;
    border-radius: var(--border-radius-8);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 200px;
}

.favorite {
    cursor: pointer;
}
