.footer {
    margin-top: 80px;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.logo {
    display: flex;
    gap: 12px;
    align-items: center;
}

.logo > p {
    font-size: var(--body-regular-text-size);
    color: var(--text-active);
}

.links {
    display: flex;
    gap: 32px;
}

.links > a {
    color: var(--text-active);
    text-decoration: none;
}
