.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.star {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.star path {
    fill: var(--text-secondary);
}

.active path {
    fill: var(--star);
}

.star:hover path,
.stars:has(.star2:hover, .star3:hover, .star4:hover, .star5:hover) > .star1 path,
.stars:has(.star3:hover, .star4:hover, .star5:hover) > .star2 path,
.stars:has(.star4:hover, .star5:hover) > .star3 path,
.stars:has(.star5:hover) > .star4 path
{
    fill: var(--star);
}
