.search {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    color: var(--text-placeholder);
    border-radius: var(--border-radius-8);
}

.input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-active);
}

.input::placeholder {
    color: var(--text-placeholder);
    opacity: 1;
}

.orange {
    background: var(--surface-3);
}

.rose {
    background: var(--surface-4);
}

.icon path {
    fill: var(--text-placeholder);
}