.container > h1 {
    font-size: var(--heading-1-text-size);
    margin-bottom: 32px;
}

.cities {
    max-height: 260px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 16px;
}

.cities > p {
    font-size: var(--heading-3-text-size);
    margin-right: 48px;
    padding: 2px;
    cursor: pointer;
}
