.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
    background-color: var(--surface-3);
    border-radius: 8px;
    position: relative;
    z-index: 10
}

.input_container {
    background-color: transparent;
    padding: 16px 10px;
    cursor: pointer;
    border-radius: 8px;
    width: 33%;
    position: relative;
}

.input_container:nth-child(1):after, .input_container:nth-child(2):after {
    content: '';
    position: absolute;
    height: calc(100% - 16px);
    width: 1px;
    background-color: var(--orange-50);
    top: 8px;
    right: 0;
}

.input_container:hover {
    background-color: var(--orange-50);
}

.input_label {
    color: var(--text-placeholder);
    font-size: var(--secondary-1-text-size);
    margin-bottom: 4px;
}

.input_placeholder {
    color: var(--text-placeholder);
}

.input_value {
    color: var(--text-active);
}

.datalist {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--orange-50);
    display: flex;
    flex-direction: column;
    gap: 1px;
    border-radius: 8px;
    width: 100%;
    max-height: 256px;
    z-index: 10;
    overflow-y: scroll;
}

.datalist_item {
    background-color: var(--surface-3);
    color: var(--text-active);
    padding: 8px 16px;
    width: 100%;
}

.datalist_item:first-child {
    border-radius: 8px 8px 0 0;
}

.datalist_item:last-child {
    border-radius: 0 0 8px 8px;
}

.datalist_item:hover {
    background-color: transparent;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 94%;
}

.icon_search path {
    fill: var(--text-contrast);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
    z-index: 1;
}
