.menu {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.menu > li > a {
    display: block;
    background-color: var(--orange-50);
    color: var(--orange-800);
    padding: 8px 16px;
    border-radius: 8px;
    transition: color ease .2s, background-color ease .2s;
}

.menu > li > a:global(.active) {
    background-color: var(--orange-800);
    color: var(--base-0);
}

.menu > li > a:hover {
    background-color: #FFE7C7;
}

.menu > li > a:global(.active):hover {
    background-color: var(--orange-700);
}
