.container {
    display: flex;
    align-items: center;
}

.text_button {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text_button > h1 {
    font-size: 36px;
    font-weight: 500;
}

.text_button > p {
    font-size: 24px;
}

.button_container {
    display: inline-block;
}