@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --vh: vh;

    /* Save areas */
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);

    /* Color primitives */
    --base-900: #292725;
    --base-800: #4B4947;
    --base-700: #6A6866;
    --base-600: #7F7D7A;
    --base-500: #A8A6A4;
    --base-400: #C7C5C2;
    --base-300: #E9E7E4;
    --base-200: #F3F1E;
    --base-100: #F8F6F3;
    --base-50: #FDFBF8;
    --base-0: #FFFFFF;

    --orange-900: #C51400;
    --orange-800: #CF3E00;
    --orange-700: #D55100;
    --orange-600: #DB6100;
    --orange-500: #DE6D00;
    --orange-400: #E48100;
    --orange-300: #E9962B;
    --orange-200: #F1B467;
    --orange-100: #F9D19F;
    --orange-50: #FFEDD5;
    --orange-0: #FFF7ED;

    --yellow-700: #FBBE24;


    /* Text-size styles */
    --heading-1-text-size: 24px;
    --heading-2-text-size: 20px;
    --heading-3-text-size: 18px;
    --body-regular-text-size: 16px;
    --button-1-text-size: 18px;
    --button-2-text-size: 16px;
    --button-3-text-size: 14px;
    --secondary-1-text-size: 14px;
    --secondary-2-text-size: 12px;


    /* Effect styles */


    /* Colors Tokens*/
    --divider: var(--base-300);

    --surface-1: var(--base-0);
    --surface-2: var(--base-50);
    --surface-3: var(--orange-0);
    --surface-4: #FCF5F3;

    --icons-default: var(--base-700);
    --icons-active: var(--orange-800);
    --icons-contrast: var(--base-0);
    --icons-disabled: var(--base-500);

    --text-primary: var(--base-900);
    --text-secondary: var(--base-500);
    --text-disabled: var(--base-400);
    --text-active: var(--orange-800);
    --text-contrast: var(--base-0);
    --text-placeholder: #E79A77;

    --error: var(--orange-900);

    --tab-background: var(--orange-50);
    --tab-label: var(--orange-800);

    --action-selected: var(--orange-800);
    --action-unselected: var(--base-500);

    --star: var(--yellow-700);

    --chips-1-background: var(--base-900);
    --chips-1-label: var(--base-50);
    --chips-2-background: var(--orange-50);
    --chips-2-label: var(--orange-800);

    --background: var(--base-50);

    --stepper-selected: var(--orange-800);
    --stepper-unselected: var(--orange-50);

    --black: #000000;
    --white: var(--base-0);

    --button-primary-enabled-background: var(--orange-800);
    --button-primary-enabled-label: var(--base-0);
    --button-primary-disabled-background: var(--base-400);
    --button-primary-disabled-label: var(--base-0);

    --button-secondary-enabled-background: var(--orange-50);
    --button-secondary-enabled-label: var(--orange-800);
    --button-secondary-disabled-background: var(--base-400);
    --button-secondary-disabled-label: var(--base-0);

    --button-text-enabled-color: var(--orange-800);
    --button-text-disabled-color: var(--base-400);


    /* Colors Tokens*/
    --tabBar-background: var(--orange-0);
    --tabBar-selected: var(--orange-800);
    --tabBar-unselected: var(--orange-500);
    --tabBar-stroke: var(--orange-50);

    --header-footer-accent: var(--orange-800);
    --header-footer-background: var(--surface-2);

    /* Fonts */
    --manrope-font: 'Manrope', sans-serif;


    /* Borders */
    --border-radius-8: 8px 8px 8px 8px;
    --border-radius-12: 12px 12px 12px 12px;
    --border-radius-full: 100px;

}

body {
    font-family: var(--manrope-font);
    color: var(--text-primary);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.PhoneInputCountry {
    display: none;
}
