.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

}

.item {
    font-size: var(--text-default);
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 8px;
}

.default {
    color: var(--text-placeholder);
    background-color: var(--surface-3);
}

.choosen {
    color: var(--text-contrast);
    background-color: var(--orange-800);
}
