.container {
    background: linear-gradient(194deg, #FFEDD5 -22.78%, #CF3E00 67.02%);
    height: 100vh;
    padding-top: 32px;
    position: relative;
}

.container > h1 {
    font-weight: 700;
    font-size: 28px;
    color: var(--text-contrast);
    text-align: center;
}

.container > p {
    color: var(--text-contrast);
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-top: 24px;
}

.app {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 10%;
}

.download {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 100;
    border-radius: 30px 30px 0px 0px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
}

.rustore {
    padding: 40px 0 40px 0;
    height: 160px;
}