.title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 24px;
}

.subtitle {
    font-size: var(--heading-1-text-size);
    padding-bottom: 4px;
}

.block {
    margin-top: 40px;
}

.promotion_modal {
    width: 600px;
}

.modal_title {
    font-size: var(--heading-1-text-size);
    font-weight: 500;
}

.modal_content {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.modal_inputs {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.photo_btn {
    width: 100%;
}

.conditions {
    flex: 1;
}

.conditions textarea {
    resize: none;
}

.save_btn {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.flex_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
}

.photo_icon path {
    fill: var(--orange-800);
}

.promotion_preview {
    aspect-ratio: 9 / 16;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.event_photo {
    aspect-ratio: 3 / 4;
    width: 220px;
    object-fit: cover;
}

